<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue.js - lesson 1</title>
    <style>
        body {
            font-size: 24px;
        }
        .bind {
            color: red
        }

        #menu{
            width: 100%;
        }

        #menu li{
            float: left;
            list-style-type: none;
            margin-right: 10px;
        }

        #menu li a{
            color: #273ea0;
            text-decoration: none;
        }

        #menu li a:hover{
            text-decoration: underline;
        }

        #content{
            color: white;
        }

        h3{
            text-align: center;
            margin: 0;
        }

        .Dynamo{
            background: cornflowerblue;
            padding: 5px;
        }
        .Arsenal{
            background: crimson;
            padding: 5px;
        }
        .Barcelona{
            background: #a14bed;
            padding: 5px;
        }

    </style>
</head>
<body>

    <!--<div id="app">-->
        <!--<div>{{ str }}</div>-->

         <!--&lt;!&ndash;<div v-bind:class="bindClass">{{ bindClass }}</div>&ndash;&gt;-->

        <!--&lt;!&ndash;<div class="condition if" v-if="stateIf">if state</div>&ndash;&gt;-->

        <!--&lt;!&ndash;<div class="condition else-if" v-else-if="stateElseIf">if-else staet</div>-->

        <!--<div class="condition else" v-else>else state</div>-->

        <!--<div class="condition show" v-show="stateShow">show state</div>-->

        <!--<ul class="loop">-->
            <!--<li v-for="val in stateLoop">{{ val }}</li>-->
        <!--</ul>-->

        <!--<button type="button" v-on:click="toggler=!toggler">{{toggler ? 'on' : 'off'}}</button> &ndash;&gt;-->


        <!--&lt;!&ndash; v-bind &ndash;&gt;-->
        <!--&lt;!&ndash; <img v-bind:src="img.src" v-bind:alt="img.alt"> &ndash;&gt;-->
        <!--&lt;!&ndash; <div v-bind:data-attr="dataAttr">We binded data attribute {{ dataAttr }}</div> &ndash;&gt;-->

        <!--&lt;!&ndash; c/h work &ndash;&gt;-->
        <!--&lt;!&ndash;  &ndash;&gt;-->
        <!--&lt;!&ndash; Создать:  &ndash;&gt;-->
        <!--&lt;!&ndash; 1. три массива со списками;  &ndash;&gt;-->
        <!--&lt;!&ndash; 2. выводить каждый из списков при нажатии на тайтл (кнопку) списка; &ndash;&gt;-->
        <!--&lt;!&ndash; 3. создать три класса с стилями; &ndash;&gt;-->
        <!--&lt;!&ndash; 4. создать три кнопки, навешать на них события 'click', событие должно изменять привязанный класс к спискам &ndash;&gt;-->
        <!--&lt;!&ndash; 5. (не обязательный) застилить - +1 бал за это &ndash;&gt;-->
    <!--</div>-->
    <!--<div id="classWork">-->
        <!--<button @click=""></button>-->
        <!--<ul>-->
            <!--<li v-for="item in arr">{{ item }}</li>-->
        <!--</ul>-->
    <!--</div>-->

    <div id="app">

        <ul id="menu">
            <li v-for="team in teams"><a href="#" v-on:click="title = team.title">{{ team.title }}</a></li>
        </ul>
        <div style="clear:both"></div>

        <div id="content" v-for="team in teams">
            <div v-bind:class="team.class" v-bind:style="team.title == title ? 'display: block' : 'display:none'" >
                <h3>{{ team.title }}</h3>
                <ul>
                    <li v-for="player in team.bestPlayers">{{ player }}</li>
                </ul>
            </div>
        </div>

        <div id="btn">
            <button v-on:click="teams[0].class = 'Barcelona'">Dynamo->Barcelona</button>
            <button v-on:click="teams[1].class = 'Dynamo'">Arsenal->Dynamo</button>
            <button v-on:click="teams[2].class = 'Arsenal'">Barcelona->Arsenal</button>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>