<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue HW-2</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        img{
            width: 100%;
        }

        .spinner-border img{
            width: 50px;
            height: 50px;
        }

        .spinner-border{
            display: flex;
            justify-content: center;
            height: 100vh;
            align-items: center;
        }
    </style>
</head>
<body>
<!--
  Вывод ТОП аниме
  - создать метод загрузки данных с апи https://api.jikan.moe/v3/top/anime
  - Создать компоненты:
     1 - компонент врапер
     2 - превю аниме
     3 - прелоадер - показывает пока контент грузится
        * - обернуть загрузку данных setTimeout для визуальной наглядности прелоадера
     4 - при отсутствии контента вывести сообщение "ничего не найдено"
     5 - при ошибке вывести "произошла ошибка"
     6 - кнопка
  - добавить две кнопки-компонент
    1 - удаляет данные
    2 - обратно их загружает
    * - все предыдущие компоненты должны реагировать на изменения
  - добавить computed для фильтрации аниме:
    1 - первых 10
    2 - инверсивный порядок
    3 - по свойству type = Movie
    4 - по свойству type = TV
  - вывести кнопки переключатели филтров
-->
<div id="app">

    <template v-if="load">

        <div class="container">

            <h1>Аниме</h1>

                <template v-if="animes.length > 0">


                    <button v-on:click="removeData" type="button" class="btn btn-danger">Удалить данные</button>

                    <button v-on:click="getData" type="button" class="btn btn-success">Загрузить данные</button>

                    <hr>

                    <h3>Фильтрация</h3>

                    <button v-on:click="getFirst10" type="button" class="btn btn-primary">Первые 10</button>

                    <button @click="getDataReverse" type="button" class="btn btn-secondary">Инверсионный порядок</button>

                    <button @click="getTypeMovie" type="button" class="btn btn-warning">type Movie</button>

                    <button @click="getTypeTv" type="button" class="btn btn-info">type TV</button>

                    <hr>

                    <div class="row">

                        <anime v-for="item in animes" v-bind:data="item"></anime>

                    </div>

                </template>

                <template v-else>

                    <div class="row">
                        <h3>Ничего не найдено</h3>
                    </div>

                    <button v-on:click="getData" type="button" class="btn btn-success">Загрузить данные</button>

                </template>

        </div>

    </template>

    <template v-else>

        <preloader></preloader>

    </template>

</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="components/preloader.component.js"></script>
<script src="components/anime.component.js"></script>
<script src="main.js"></script>
</body>
</html>